In [77]:
import numpy as np
import pandas as pd

In [80]:
bostonHouse=pd.read_csv("housing.csv")

C:\Users\GAGANA V\New folder (2)\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,60) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [81]:
bostonHouse

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,502550008,502550000.0,502550000,87,BEACON,ST,2-F,2108.0,102,CD,...,M,NaN,O,M,W,N,1.0,N,G,A
1,502550010,502550000.0,502550000,87,BEACON,ST,2-R,2108.0,102,CD,...,NaN,NaN,O,S,W,N,1.0,N,A,A
2,502550012,502550000.0,502550000,87,BEACON,ST,3-F,2108.0,102,CD,...,S,NaN,O,M,W,N,1.0,N,A,G
3,502550014,502550000.0,502550000,87,BEACON,ST,3-R,2108.0,102,CD,...,NaN,NaN,O,N,W,N,1.0,S,A,G
4,502550016,502550000.0,502550000,87,BEACON,ST,4,2108.0,102,CD,...,M,M,O,L,W,C,2.0,N,E,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,2205668000,NaN,2205668000,4,LAKE,ST,NaN,2135.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174664,2205669000,NaN,2205669000,2193 2201,COMMONWEALTH,AV,NaN,2135.0,319,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174665,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174666,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174667,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
b=bostonHouse

In [83]:
b

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,502550008,502550000.0,502550000,87,BEACON,ST,2-F,2108.0,102,CD,...,M,NaN,O,M,W,N,1.0,N,G,A
1,502550010,502550000.0,502550000,87,BEACON,ST,2-R,2108.0,102,CD,...,NaN,NaN,O,S,W,N,1.0,N,A,A
2,502550012,502550000.0,502550000,87,BEACON,ST,3-F,2108.0,102,CD,...,S,NaN,O,M,W,N,1.0,N,A,G
3,502550014,502550000.0,502550000,87,BEACON,ST,3-R,2108.0,102,CD,...,NaN,NaN,O,N,W,N,1.0,S,A,G
4,502550016,502550000.0,502550000,87,BEACON,ST,4,2108.0,102,CD,...,M,M,O,L,W,C,2.0,N,E,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,2205668000,NaN,2205668000,4,LAKE,ST,NaN,2135.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174664,2205669000,NaN,2205669000,2193 2201,COMMONWEALTH,AV,NaN,2135.0,319,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174665,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174666,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174667,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
b.head()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,502550008,502550000.0,502550000,87,BEACON,ST,2-F,2108.0,102,CD,...,M,NaN,O,M,W,N,1.0,N,G,A
1,502550010,502550000.0,502550000,87,BEACON,ST,2-R,2108.0,102,CD,...,NaN,NaN,O,S,W,N,1.0,N,A,A
2,502550012,502550000.0,502550000,87,BEACON,ST,3-F,2108.0,102,CD,...,S,NaN,O,M,W,N,1.0,N,A,G
3,502550014,502550000.0,502550000,87,BEACON,ST,3-R,2108.0,102,CD,...,NaN,NaN,O,N,W,N,1.0,S,A,G
4,502550016,502550000.0,502550000,87,BEACON,ST,4,2108.0,102,CD,...,M,M,O,L,W,C,2.0,N,E,G

In [85]:
b.tail()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
174663,2205668000,NaN,2205668000,4,LAKE,ST,NaN,2135.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174664,2205669000,NaN,2205669000,2193 2201,COMMONWEALTH,AV,NaN,2135.0,319,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174665,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174666,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174667,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
b["ST_NAME"].unique()

array(['BEACON', 'BEAVER', 'BRIMMER', ..., 'UNDINE', 'CALTHA', 'KNOWLES'],
      dtype=object)

In [104]:
b.isnull()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,False,True,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
174664,False,True,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
174665,False,True,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
174666,False,True,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
174667,False,True,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [105]:
b.isnull().sum()

PID               0
CM_ID         92630
GIS_ID            0
ST_NUM            0
ST_NAME           0
              ...
U_AC         110624
U_FPLACE     110624
U_INT_FIN    110624
U_INT_CND    110624
U_VIEW       110624
Length: 75, dtype: int64

In [134]:
b1=b.drop(['CM_ID','U_AC','U_INT_FIN','U_INT_CND','U_VIEW','U_BTH_STYLE3','U_BTH_STYLE2','U_BTH_STYLE','U_HALF_BTH','U_KITCH_TYPE','U_KITCH_STYLE','U_HEAT_TYP','S_EXT_FIN','S_EXT_CND','S_UNIT_COM','S_UNIT_RC'],axis=1)

In [135]:
b1.isnull().sum()

PID                     0
GIS_ID                  0
ST_NUM                  0
ST_NAME                 0
ST_NAME_SUF           539
UNIT_NUM           108968
ZIPCODE                 7
PTYPE                   0
LU                      0
OWN_OCC                 0
OWNER                   0
MAIL_ADDRESSEE          0
MAIL_ADDRESS            0
MAIL CS                 0
MAIL_ZIPCODE            0
AV_LAND                 0
AV_BLDG                 0
AV_TOTAL                0
GROSS_TAX               0
LAND_SF              5441
YR_BUILT             5214
YR_REMOD            41796
GROSS_AREA           5528
LIVING_AREA          5528
NUM_FLOORS          22529
STRUCTURE_CLASS     90167
R_BLDG_STYL        111908
R_ROOF_TYP         111911
R_EXT_FIN          111911
R_TOTAL_RMS        111911
R_BDRMS            111911
R_FULL_BTH         111911
R_HALF_BTH         111911
R_BTH_STYLE        111911
R_BTH_STYLE2       119906
R_BTH_STYLE3       147484
R_KITCH            111911
R_KITCH_STYLE      111911
R_KITCH_STYLE2     141839
R_KITCH_STYLE3     160102
R_HEAT_TYP         111911
R_AC               111911
R_FPLACE           111911
R_EXT_CND          111911
R_OVRALL_CND       111911
R_INT_CND          111911
R_INT_FIN          111911
R_VIEW             111911
S_NUM_BLDG         171101
S_BLDG_STYL        164738
S_UNIT_RES         164738
U_BASE_FLOOR       110624
U_NUM_PARK         110624
U_CORNER           110624
U_ORIENT           110624
U_TOT_RMS          110624
U_BDRMS            110624
U_FULL_BTH         110624
U_FPLACE           110624
dtype: int64

In [226]:
b1=b.drop(['S_BLDG_STYL','S_UNIT_RES','UNIT_NUM','U_BTH_STYLE2','U_BTH_STYLE3','U_KITCH_TYPE','U_KITCH_STYLE','U_BTH_STYLE','U_HEAT_TYP','U_AC','U_CORNER','U_ORIENT','U_INT_CND','U_INT_FIN','U_VIEW','CM_ID','S_UNIT_RC','S_UNIT_COM','S_NUM_BLDG','R_VIEW','R_INT_FIN','R_INT_CND','S_EXT_FIN','S_EXT_CND','R_FPLACE','R_EXT_CND','R_OVRALL_CND','R_KITCH_STYLE3','R_HEAT_TYP','R_AC','R_KITCH','R_KITCH_STYLE','R_KITCH_STYLE2','R_BTH_STYLE','R_BTH_STYLE2','R_BTH_STYLE3','R_BDRMS','R_FULL_BTH' ,'R_HALF_BTH','R_ROOF_TYP' ,'ZIPCODE','R_EXT_FIN','R_TOTAL_RMS','U_TOT_RMS','STRUCTURE_CLASS','R_BLDG_STYL','ST_NAME_SUF'],axis=1)

In [227]:
b1

,PID,GIS_ID,ST_NUM,ST_NAME,PTYPE,LU,OWN_OCC,OWNER,MAIL_ADDRESSEE,MAIL_ADDRESS,...,YR_REMOD,GROSS_AREA,LIVING_AREA,NUM_FLOORS,U_BASE_FLOOR,U_NUM_PARK,U_BDRMS,U_FULL_BTH,U_HALF_BTH,U_FPLACE
0,502550008,502550000,87,BEACON,102,CD,Y,MANIACE H RICHARD JR,,87 BEACON ST #2F,...,2006.0,789.0,789.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
1,502550010,502550000,87,BEACON,102,CD,N,MANIACE H RICHARD JR,,87 BEACON ST #2R,...,1981.0,752.0,752.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0
2,502550012,502550000,87,BEACON,102,CD,Y,GERRISH MERRILY S,,87 BEACON ST #3-F,...,2016.0,792.0,792.0,1.0,3.0,0.0,2.0,2.0,0.0,1.0
3,502550014,502550000,87,BEACON,102,CD,N,MANIACE H RICHARD JR,,348 CONGRESS PL,...,1981.0,720.0,720.0,1.0,3.0,1.0,1.0,1.0,0.0,1.0
4,502550016,502550000,87,BEACON,102,CD,Y,BARRY JOHN P,,87 BEACON ST,...,2014.0,1482.0,1482.0,1.0,4.0,2.0,2.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,2205668000,2205668000,4,LAKE,105,R3,N,EAGLE PROPERTY HOLDINGS LLC,,4 LAKE ST,...,1990.0,4291.0,2834.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN
174664,2205669000,2205669000,2193 2201,COMMONWEALTH,319,C,N,GREALISH MARTIN J TRST,C/O AIM PROPERTY MGMT,513 E BROADWAY,...,2016.0,14520.0,7260.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
174665,2205670000,2205670000,2203,COMMONWEALTH,985,E,N,COMMWLTH OF MASS,,2203 COMMONWEALTH AVE,...,NaN,240.0,240.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
174666,2205670000,2205670000,2203,COMMONWEALTH,985,E,N,COMMWLTH OF MASS,,2203 COMMONWEALTH AVE,...,NaN,630.0,630.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
174667,2205670000,2205670000,2203,COMMONWEALTH,985,E,N,COMMWLTH OF MASS,,2203 COMMONWEALTH AVE,...,NaN,6516.0,6516.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
b1.isnull().sum()

PID                    0
GIS_ID                 0
ST_NUM                 0
ST_NAME                0
PTYPE                  0
LU                     0
OWN_OCC                0
OWNER                  0
MAIL_ADDRESSEE         0
MAIL_ADDRESS           0
MAIL CS                0
MAIL_ZIPCODE           0
AV_LAND                0
AV_BLDG                0
AV_TOTAL               0
GROSS_TAX              0
LAND_SF             5441
YR_BUILT            5214
YR_REMOD           41796
GROSS_AREA          5528
LIVING_AREA         5528
NUM_FLOORS         22529
U_BASE_FLOOR      110624
U_NUM_PARK        110624
U_BDRMS           110624
U_FULL_BTH        110624
U_HALF_BTH        110624
U_FPLACE          110624
dtype: int64

In [258]:
avg_fplace=np.mean(b1['U_FPLACE'])
avg_fplace

0.3001842483287261

In [259]:
b1['U_FPLACE'].fillna(avg_fplace,inplace=True)

In [260]:
avg_halfb=np.mean(b1['U_HALF_BTH'])
avg_halfb

0.2576807559890564

In [261]:
b1['U_HALF_BTH'].fillna(avg_fplace,inplace=True)

In [262]:
avg_fullb=np.mean(b1['U_FULL_BTH'])
avg_fullb

1.344622447067641

In [263]:
b1['U_FULL_BTH'].fillna(avg_fullb,inplace=True)

In [264]:
avg_drms=np.mean(b1['U_BDRMS'])
avg_drms

1.7761226656673537

In [265]:
b1['U_BDRMS'].fillna(avg_drms,inplace=True)

In [266]:
avg_park=np.mean(b1['U_NUM_PARK'])
avg_park

0.4973768034482932

In [267]:
b1['U_NUM_PARK'].fillna(avg_park,inplace=True)

In [268]:
avg_floor=np.mean(b1['U_BASE_FLOOR'])
avg_floor

3.3385172693664056

In [269]:
b1['U_BASE_FLOOR'].fillna(avg_floor,inplace=True)

In [270]:
avg_numfloor=np.mean(b1['NUM_FLOORS'])
avg_numfloor

1.984853982214535

In [271]:
b1['NUM_FLOORS'].fillna(avg_numfloor,inplace=True)

In [272]:
avg_area=np.mean(b1['LIVING_AREA'])
avg_area

3455.0716921442922

In [273]:
b1['LIVING_AREA'].fillna(avg_area,inplace=True)

In [274]:
avg_garea=np.mean(b1['GROSS_AREA'])
avg_garea

4499.101625872001

In [275]:
b1['GROSS_AREA'].fillna(avg_garea,inplace=True)

In [276]:
avg_remod=np.mean(b1['YR_REMOD'])
avg_remod

1323.4408528508195

In [277]:
b1['YR_REMOD'].fillna(avg_remod,inplace=True)

In [278]:
avg_built=np.mean(b1['YR_BUILT'])
avg_built

1728.0822878185425

In [279]:
b1['YR_BUILT'].fillna(avg_built,inplace=True)

In [280]:
avg_land=np.mean(b1['LAND_SF'])
avg_land

52968.67161268517

In [281]:
b1['LAND_SF'].fillna(avg_land,inplace=True)

In [282]:
b1.isnull().sum()

PID               0
GIS_ID            0
ST_NUM            0
ST_NAME           0
PTYPE             0
LU                0
OWN_OCC           0
OWNER             0
MAIL_ADDRESSEE    0
MAIL_ADDRESS      0
MAIL CS           0
MAIL_ZIPCODE      0
AV_LAND           0
AV_BLDG           0
AV_TOTAL          0
GROSS_TAX         0
LAND_SF           0
YR_BUILT          0
YR_REMOD          0
GROSS_AREA        0
LIVING_AREA       0
NUM_FLOORS        0
U_BASE_FLOOR      0
U_NUM_PARK        0
U_BDRMS           0
U_FULL_BTH        0
U_HALF_BTH        0
U_FPLACE          0
dtype: int64

In [283]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [284]:
b1

,PID,GIS_ID,ST_NUM,ST_NAME,PTYPE,LU,OWN_OCC,OWNER,MAIL_ADDRESSEE,MAIL_ADDRESS,...,YR_REMOD,GROSS_AREA,LIVING_AREA,NUM_FLOORS,U_BASE_FLOOR,U_NUM_PARK,U_BDRMS,U_FULL_BTH,U_HALF_BTH,U_FPLACE
0,502550008,502550000,87,BEACON,102,CD,Y,MANIACE H RICHARD JR,,87 BEACON ST #2F,...,2006.000000,789.0,789.0,1.0,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,502550010,502550000,87,BEACON,102,CD,N,MANIACE H RICHARD JR,,87 BEACON ST #2R,...,1981.000000,752.0,752.0,1.0,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000
2,502550012,502550000,87,BEACON,102,CD,Y,GERRISH MERRILY S,,87 BEACON ST #3-F,...,2016.000000,792.0,792.0,1.0,3.000000,0.000000,2.000000,2.000000,0.000000,1.000000
3,502550014,502550000,87,BEACON,102,CD,N,MANIACE H RICHARD JR,,348 CONGRESS PL,...,1981.000000,720.0,720.0,1.0,3.000000,1.000000,1.000000,1.000000,0.000000,1.000000
4,502550016,502550000,87,BEACON,102,CD,Y,BARRY JOHN P,,87 BEACON ST,...,2014.000000,1482.0,1482.0,1.0,4.000000,2.000000,2.000000,2.000000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,2205668000,2205668000,4,LAKE,105,R3,N,EAGLE PROPERTY HOLDINGS LLC,,4 LAKE ST,...,1990.000000,4291.0,2834.0,2.5,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174664,2205669000,2205669000,2193 2201,COMMONWEALTH,319,C,N,GREALISH MARTIN J TRST,C/O AIM PROPERTY MGMT,513 E BROADWAY,...,2016.000000,14520.0,7260.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174665,2205670000,2205670000,2203,COMMONWEALTH,985,E,N,COMMWLTH OF MASS,,2203 COMMONWEALTH AVE,...,1323.440853,240.0,240.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174666,2205670000,2205670000,2203,COMMONWEALTH,985,E,N,COMMWLTH OF MASS,,2203 COMMONWEALTH AVE,...,1323.440853,630.0,630.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174667,2205670000,2205670000,2203,COMMONWEALTH,985,E,N,COMMWLTH OF MASS,,2203 COMMONWEALTH AVE,...,1323.440853,6516.0,6516.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184

In [321]:
b2=b1.drop(['ST_NAME','LU','OWN_OCC','OWNER','MAIL_ADDRESS','MAIL_ADDRESSEE','MAIL CS'],axis=1)

In [331]:
b2

,PID,GIS_ID,ST_NUM,PTYPE,MAIL_ZIPCODE,AV_LAND,AV_BLDG,AV_TOTAL,GROSS_TAX,LAND_SF,...,YR_REMOD,GROSS_AREA,LIVING_AREA,NUM_FLOORS,U_BASE_FLOOR,U_NUM_PARK,U_BDRMS,U_FULL_BTH,U_HALF_BTH,U_FPLACE
0,502550008,502550000,87,102,2108,0,878200,878200,925623,789.0,...,2006.000000,789.0,789.0,1.0,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,502550010,502550000,87,102,2108,0,817600,817600,861750,752.0,...,1981.000000,752.0,752.0,1.0,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000
2,502550012,502550000,87,102,2108,0,849500,849500,895373,792.0,...,2016.000000,792.0,792.0,1.0,3.000000,0.000000,2.000000,2.000000,0.000000,1.000000
3,502550014,502550000,87,102,91105,0,734400,734400,774058,720.0,...,1981.000000,720.0,720.0,1.0,3.000000,1.000000,1.000000,1.000000,0.000000,1.000000
4,502550016,502550000,87,102,2108,0,2162300,2162300,2279064,1482.0,...,2014.000000,1482.0,1482.0,1.0,4.000000,2.000000,2.000000,2.000000,1.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,2205668000,2205668000,4,105,2135,316200,706900,1023100,1078347,7380.0,...,1990.000000,4291.0,2834.0,2.5,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174664,2205669000,2205669000,2193 2201,319,2127,760800,1737700,2498500,6246250,12500.0,...,2016.000000,14520.0,7260.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174665,2205670000,2205670000,2203,985,2135,1325400,841100,2166500,0,34125.0,...,1323.440853,240.0,240.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174666,2205670000,2205670000,2203,985,2135,1325400,841100,2166500,0,34125.0,...,1323.440853,630.0,630.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184
174667,2205670000,2205670000,2203,985,2135,1325400,841100,2166500,0,34125.0,...,1323.440853,6516.0,6516.0,1.0,3.338517,0.497377,1.776123,1.344622,0.300184,0.300184